{% extends "base.html" %}

{% block content %}
      <div class="jumbotron">
      <div class="row">
        <div class="col-sm-8">
            <h1>The CS List</h1>
            <p class="lead"><strong>THE</strong> definitive computer science resource for K12.</p>
            <p>Want to stay up to date? Want add or update a resouce?</p>
            <p><em>You'll need to Sign Up first!</em></p>
        </div>
        <div class="col-sm-4">
          {% include "news/signup_form_base.html" %}
        </div>
      </div>
    </div>

  <div class="row">
    {% include "cslist/cslist.html" %}
  </div>
{% endblock %}
{% block navbar_right %}
  {% include "news/signup_dropdown.html" %}
{% endblock %}


